# Be sure to restart your server when you modify this file.

# Your secret key for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!
# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
AccountingSystem::Application.config.secret_token = '3a7285d0d096e3087b245a637297516c345d31f62d9d4af70e7e25a0450bdd01e710871e424da9eaead0b10d75b4d88bc9937f47c28d0493c3c53ab436dd1cda'
