/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

li.sidebar-link h3 a{color: #333333;}

.footer{
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 15px;
    display: block;
}

.navbar-inner {
    background-color: #1B1B1B;
    background-image: -moz-linear-gradient(center top , #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
}
#delete_button{
    margin-top: 50px;
}

